<ion-view view-title='{{TituloMenu.titulo}}'>
    <ion-content>
        <div class="item item-avatar" ng-repeat="novedad in listaNovedades | orderBy:'-novedadField.fechaAplicacionNovedadField' | limitTo:4">
            <img ng-src="img/profile.png">     
            <h2 style="color:#f29400;">{{novedad.datosBaseField.primerNombreField |capitalize}} {{novedad.datosBaseField.segundoNombreField |capitalize}} {{novedad.datosBaseField.primerApellidoField |capitalize}} {{novedad.datosBaseField.segundoApellidoField |capitalize}}</h2>
            <p>Tipo: {{novedad.novedadField.tipoDeNovedadField | lowercase |capitalize}}</p>
            <p>Causal: @@</p>
            <p>Aplicado: {{novedad.novedadField.estadoNovedadField |capitalize}}</p>
            <p>Fecha de Aplicación : {{novedad.novedadField.fechaAplicacionNovedadField | date:'MMM d, y'}}</p>  
        </div>
        <h5 class="assertive text-center mensaje" ng-show="mostrarMensaje">No existe información</h5>    
    </ion-content>
</ion-view>	