<ion-view view-title='{{TituloMenu.titulo}}'>
    <ion-content> 
        <div>
            <div class="item item-avatar">
                <img ng-src="img/users.png">
                <h4>{{hojavida_MFA.Persona.estadoFamiliaField | capitalize}}</h4>
                <h3>{{hojavida_MFA.Persona.primerNombreField | capitalize}} {{hojavida_MFA.Persona.segundoNombreField | capitalize}} {{hojavida_MFA.Persona.primerApellidoField | capitalize}} {{hojavida_MFA.Persona.segundoApellidoField | capitalize}}</h3>
                <h4>{{hojavida_MFA.Persona.estadoBeneficiarioField | capitalize}}</h4>
            </div>
            <div ng-repeat="miembro in nucleo_familiar">
                <ion-item class="item-stable" ng-click="toggleGroup(miembro)" ng-class="{active: isGroupShown(miembro)}" style="background-color: #fff;">
                    <div class="row" >
                        <div class="col col-10">
                            <img ng-src="img/profile.png" style="width:100%;">
                        </div>
                        <div class="col col-80 text-center" style="padding-top:0px;">
                            <p style=>{{miembro.primerNombreField | capitalize}} {{miembro.segundoNombreField | capitalize}} {{miembro.primerApellidoField | capitalize}} {{miembro.segundoApellidoField | capitalize}} </p>                            
                        </div>
                        <div class="col col-10">
                            <i class="icon" ng-class="isGroupShown(miembro) ? 'ion-minus-circled' : 'ion-plus-circled'" style="color:#F29400;"></i>
                        </div>
                    </div>    
                </ion-item>
                <ion-item class="item-accordion item-accordion-button" ng-show="isGroupShown(miembro)" style="padding-left:70px;margin-top:-25px;padding-top:0px;">
                    <p><strong>Estado: </strong> {{miembro.estadoBeneficiarioField | capitalize}}</p>
                    <p><strong>{{_tipoDocumento(miembro.tipoDocumentoField)}} </strong> </p>
                    <p>{{miembro.numeroDocumentoField}}</p>
                    <p><strong>Colegio: </strong> <span ng-if="miembro.Colegio == null">Sin información</span></p>
                    <p>{{miembro.Colegio | uppercase}}</p>
                    <p style="font-size: 70% ">{{miembro.Colegio}}</p>
                    <p><strong>Priorizado: </strong> <span ng-if="miembro.priorizadoField == null">Sin información</span> {{miembro.priorizadoField}}</p>
                    <p><strong>Grado: </strong> <span ng-if="miembro.Grado == null">Sin información</span> {{miembro.Grado}}</p>
                    <p><strong>Graduado: </strong> <span ng-if="miembro.Graduado==null">Sin información</span> {{miembro.Graduado}}</p>
                    
                </ion-item>
            </div>   
            <div class="row" ng-show="nucleo_familiar_completo.length > 5">
                <div class="col col-30 text-right">
                    <a class="button icon-left ion-chevron-left button-clear button-dark" style="color:#3E97CF;font-size:90%;" ng-click="_verAnterior()" ng-hide="indexActual-canItems+1==0">Anteriores</a>
                </div>
                <div class="col col-40 text-center">
                    <a class="button button-clear button-dark" ng-click="_prueba()" style="color:#3E97CF;font-size:90%;">{{inicio}} ... {{fin}}</a>
                </div>
                <div class="col col-30 text-left">
                   <a class="button icon-right ion-chevron-right button-clear button-dark" style="color:#3E97CF;font-size:90%;" ng-click="_verSiguientes()" ng-hide="indexActual-fal+1==nucleo_familiar_completo.length">Siguientes</a>
                </div>
            </div>  
        </div>     
    </ion-content>
</ion-view>	