<ion-header-bar class="bar info" ng-load="redireccionar()">
    <div class="buttons">
        <button style="color:#fff;" ui-sref="vigencia" class="button button-icon ion-chevron-left">Atrás
        </button>
    </div>
    <h1 class="title" style="color:#fff;">C. Calleja Real</h1>
    <button style="color:#fff; font-size: 14px;" ng-click="logout()" class="button button-icon">Salir</button>
</ion-header-bar>

<ion-content>

<div class="card text-center">
    <div class="item item-text-wrap" style="text-align:justify">
        <h2 style="font-weight: bold; color: #3e97cf">Estudiante</h2>
    </div>

    <div class="row text-left">
        <a class="item item-icon-left" style="width: 100%;">
            <i class="icon ion-university"></i>
            <p style="text-transform: capitalize;">{{nombre_estudiante}}</p>
            <p>{{identificacion_estudiante | number}}</p>
        </a>
    </div>
</div>

<div class="card text-center">
    <div class="item item-text-wrap" style="text-align:justify">
        <h2 style="font-weight: bold; color: #3e97cf">Información General</h2>
    </div>
        <div class="row">
            <a class="itemList item-icon-left text-left" style="width: 100%;">
                <i class="icon ion-ios-pricetags-outline" style="font-size: 18px; color: #000;"></i>
                <label style="color: #666; font-weight: bold;">Causado: </label>
                <label style="color: #f0ad4e; font-weight: bold; margin-left: 25px; float: right;">${{estadoCuentaVigenciaActual.causado_vigencia | number}}</label>
            </a>
        </div>
        <div class="row">
            <a class="itemList item-icon-left text-left" style="width: 100%;">
                <i class="icon ion-ios-pricetags-outline" style="font-size: 18px; color: #000;"></i>
                <label style="color: #666; font-weight: bold;">Intereses: </label>
                <label style="color: #f0ad4e; font-weight: bold; float: right;">${{estadoCuentaVigenciaActual.intereses_vigencia | number}}</label>
            </a>
        </div>
        <div class="row">
            <a class="itemList item-icon-left text-left" style="width: 100%;">
                <i class="icon ion-ios-pricetags-outline" style="font-size: 18px; color: #000;"></i>
                <label style="color: #666; font-weight: bold;">Pagado: </label>
                <label style="color: #5cb85c; font-weight: bold; float: right;">${{estadoCuentaVigenciaActual.pagado_vigencia | number}}</label>
            </a>
        </div>
        <div class="row">
            <a class="itemList item-icon-left text-left" style="width: 100%;">
                <i class="icon ion-ios-pricetags-outline" style="font-size: 18px; color: #000;"></i>
                <label style="color: #666; font-weight: bold;">Total a Pagar: </label>
                <label style="color: {{ColorSaldo(estadoCuentaVigenciaActual.saldo_vigencia)}}; font-weight: bold; float: right;">${{estadoCuentaVigenciaActual.saldo_vigencia | number}}</label>
            </a>
        </div>
</div>

<div class="card text-center">
    <div class="item item-text-wrap" style="text-align:justify">
        <h2 style="font-weight: bold; color: #3e97cf">Estado de Cuenta: Vigencia {{estadoCuentaVigenciaActual.vigencia}}</h2>
    </div>
    <div class="row text-left" ng-repeat="estado in estadoCuentaVigenciaActual.l_items">
        <a class="itemList item-icon-left text-left" ng-click="verEstadoCuenta(estado)" style="width: 100%;">
            <i class="icon ion-ios-pricetags-outline" style="font-size: 18px; color: #000;"></i>
            <label style="color: #666; font-size: 14px; font-weight: bold; text-transform: capitalize">{{estado.nombre_concepto}}</label>
            <label style="color: #666; font-size: 14px; float: right;">Saldo</label><br>
            <label style="color: #666; font-size: 12px;">{{estado.fecha_pago | date}}</label>
            <label style="color: {{ColorSaldo(estado.saldo)}}; font-size: 14px; float: right; font-weight: bold;">${{estado.saldo | number}}</label>
        </a>
    </div>
</div>
</ion-content>