<ion-view view-title='{{TituloMenu.titulo}}'>
    <ion-content>        
        <div class="card text-center">
	        <div class="item item-text-wrap" style="text-align:justify">
	  	        <h1>Bienvenido!</h1>
                <p>Señor usuario, esta aplicación es dirigida a los ciudadanos colombianos en estado de vulnerabilidad para consultar los programas y ayudas que el gobierno les ofrece.</p>
	        </div>
	    </div>
        <div>
		    <img class="logo" src="img/logo.png" />
	    </div>
        <br />
        <ion-spinner class="spinner" ng-show="ocultarLoader"></ion-spinner>
    </ion-content>
</ion-view>	