<ion-view view-title='{{TituloMenu.titulo}}'>
    <ion-content>
        <div class="card text-center">
	        <div class="item item-text-wrap" style="text-align:justify">
	  	        <div class="row">
                    <img ng-src="{{programa.Img}}" style="width:100%;height:250px;padding:30px;">
                </div>
	        </div>
	    </div>
        <div class="row">
            <label style="margin-left:10px;margin-right:10px;font-size:20px;">{{programa.Nombre}}</label>
        </div>
        <br />
        <div class="row">
            <p style="text-align:justify; color:#C0C0C0;margin-left:10px;margin-right:10px;">
                {{programa.Texto}}
            </p>
        </div>
    </ion-content>
</ion-view>	