<ion-header-bar class="bar info">
    <h1 class="title" style="color: #fff; font-weight: bold;">Acudientes</h1>
</ion-header-bar>

<ion-content>
    <div style="margin-top: 75px; text-align: center">
        <img src="../img/logo.png" style="width: 190px; height: 150px;">
        <h4>Colegio Calleja Real</h4>
    </div>

    <div class="list" style="margin-top: 20px;">

        <label class="item item-input item-floating-label">
            <span class="input-label">Username</span>
            <input type="text" placeholder="Username" ng-model="username">
        </label>

        <label class="item item-input item-floating-label">
            <span class="input-label">Password</span>
            <input type="password" placeholder="Password" ng-model="password">
        </label>

        <div class="padding">
            <button style="color: #fff; font-weight: bold;" ng-click="login(username,password)" class="button button-block button-positive">Login</button>
        </div>
    </div>
</ion-content>