<ion-header-bar class="bar info" ng-load="redireccionar()">
    <div class="buttons">
        <button style="color:#fff;" ui-sref="home" class="button button-icon ion-chevron-left">Atrás</button>
    </div>
    <h1 class="title" style="color:#fff;">Mensajes</h1>
    <button style="color:#fff; font-size: 14px;" ng-click="logout()" class="button button-icon">Salir</button>
</ion-header-bar>
<ion-content>
    <div class="card text-center">        
        <div class="item item-text-wrap" style="text-align:justify">
            <h2 style="font-weight: bold; color: #3e97cf">Tiene {{contador}} mensajes sin leer</h2>
        </div>
        <div class="row text-left"  ng-repeat = "mensaje in Mensajes">
                <label style="margin-top: 16px;">
                    <input type="checkbox" ng-model="mensaje.activo" ng-change="checkearMensaje(mensaje, $index)"/>
                </label>
                <a ng-click="abrirMensaje(mensaje, $index)" class="item item-icon-left" href="#" style="width: 100%">
                    <i class="{{iconoMensaje(mensaje.estado)}}" style="color: {{ColorMensaje(mensaje.tipo)}};"></i>
                    <label style="float: left; font-size: 14px; color: #666; font-weight: {{MensajeLeido(mensaje.estado)}};">{{mensaje.asunto}}</label>
                    <label style="color: #b2b2b2; float: right;">({{mensaje.estado}})</label>
                </a>
        </div>
    </div>
    <ion-footer-bar class="bar bar-footer info" style="position: fixed;">
        <label style="font-size: 16px; margin-left: 4px; color:#fff; margin-top: 5px; font-weight: bold;">
            <input type="checkbox" ng-model="check_mensajes" ng-click="checkear_Mensajes()"/>     Seleccionar Todos
        </label>
        <a class="item-icon-right" ng-click="showConfirm()" style="text-decoration: none; font-size: 20px;">
            <i class="icon ion-trash-b" style="font-size: 22px; color: #fff;"></i>
        </a>
    </ion-footer-bar>
</ion-content>