<ion-header-bar class="bar info" ng-load="redireccionar()">
    <div class="buttons">
        <button style="color:#fff;" ui-sref="home" class="button button-icon ion-chevron-left">Atrás
        </button>
    </div>
    <h1 class="title" style="color:#fff;">C. Calleja Real</h1>
    <button style="color:#fff; font-size: 14px;" ng-click="logout()" class="button button-icon">Salir</button>
</ion-header-bar>

<ion-content>

    <div class="card text-center">
        <div class="item item-text-wrap" style="text-align:justify">
            <h2 style="font-weight: bold; color: #3e97cf">Estudiante</h2>
        </div>

        <div class="row text-left">
            <a class="itemListEstudiante item-icon-left" style="width: 100%;">
                <i class="icon ion-university" style="color: #000;"></i>
                <!--<p>{{nombre_estudiante}}</p>
                <p>{{identificacion_estudiante}}</p>-->
                <label style="color: #666; font-size: 14px; font-weight: bold; text-transform: capitalize;">{{nombre_estudiante}}</label>
                <label style="color: #666; font-size: 14px; float: right;">Saldo</label><br>
                <label style="color: #666; font-size: 14px;">{{identificacion_estudiante | number}}</label>
                <label style="color: {{ColorSaldo(saldo_estudiante)}}; font-size: 14px; float: right; font-weight: bold;">${{saldo_estudiante | number}}</label>
            </a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <a ui-sref="vigencia" style="text-decoration: none; color: #666">
                        <i class="ion ion-ios-paper-outline" style="font-size: 70px;"></i>
                        <p style="font-size: 20px; font-weight: bold;">Estado de Cuenta</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

</ion-content>