<ion-side-menus enable-menu-with-back-views="false" ng-controller="MenuCtrl">
  <ion-side-menu-content>
    <ion-nav-bar align-title="left" class="bar-positive" ng-style="estilos">
      <ion-nav-back-button ng-click="back()">
      </ion-nav-back-button>	
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">
    <ion-content>
    <img src="img/img-menu.jpg" width="100%" />
      <div class="list">
      <a menu-close class="item item-icon-left" ui-sref="app.home" >
        <i class="icon ion-home"></i>
        Inicio
      </a>
      <a menu-close class="item item-icon-left" ui-sref="app.identificar_persona_potencial" >
        <i class="icon ion-person"></i>
        A qué soy Potencial?
      </a>
      <a menu-close class="item item-icon-left" ui-sref="app.identificar_persona" >
        <i class="icon ion-clipboard"></i>
        En qué estoy Inscrito?
      </a>       
    </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
