<ion-header-bar class="bar info" ng-load="redireccionar()">
    <div class="buttons">
        <button style="color:#fff;" ui-sref="estudiante" class="button button-icon ion-chevron-left">Atrás
        </button>
    </div>
    <h1 class="title" style="color:#fff;">C. Calleja Real</h1>
    <button style="color:#fff; font-size: 14px;" ui-sref="login" class="button button-icon">Salir</button>
</ion-header-bar>

<ion-content>

    <div class="card text-center">
        <div class="item item-text-wrap" style="text-align:justify">
            <h2 style="font-weight: bold; color: #3e97cf">Estudiante</h2>
        </div>

        <div class="row text-left">
            <a class="item item-icon-left" style="width: 100%;">
                <i class="icon ion-university"></i>
                <p style="text-transform: capitalize;">{{nombre_estudiante}}</p>
                <p>{{identificacion_estudiante | number}}</p>
            </a>
        </div>
    </div>

    <div class="card text-center">
        <div class="item item-text-wrap" style="text-align:justify">
            <h2 style="font-weight: bold; color: #3e97cf">Seleccione Vigencia</h2>
        </div>

        <div class="row text-left" ng-repeat="itemEstado in estadoCuenta">
            <a class="itemListEstudiante item-icon-left" ng-click="irEstadoCuentaDeVigencia(itemEstado)" style="width: 100%;">
                <i class="icon ion-ios-pricetags-outline" style="font-size: 18px; color: #000;"></i>
                <label style="color: #666; font-size: 14px; font-weight: bold;">Vigencia:</label>
                <label style="color: #666; font-size: 14px; float: right;">Saldo</label><br>
                <label style="color: #666; font-size: 14px;">{{itemEstado.vigencia}}</label>
                <label style="color: {{ColorSaldo(itemEstado.saldo_vigencia)}}; font-size: 14px; float: right; font-weight: bold;">${{itemEstado.saldo_vigencia | number}}</label>
            </a>
        </div>

    </div>



</ion-content>