<ion-header-bar class="bar info">
    <div class="buttons">
        <button style="color:#fff;" ui-sref="home" class="button button-icon ion-chevron-left">Atrás
        </button>
    </div>
    <h1 class="title" style="color:#fff;">C. Calleja Real</h1>
    <button style="color:#fff; font-size: 14px;" ui-sref="login" class="button button-icon">Salir</button>
</ion-header-bar>

<div class="card text-center" style="margin-top: 65px;">
    <div class="item item-text-wrap" style="text-align:justify">
        <h2 style="font-weight: bold; color: #3e97cf">Estudiante</h2>
    </div>

    <div class="row text-left">
        <a class="item item-icon-left" style="width: 100%;">
            <i class="icon ion-university"></i>
            <p>{{nombre_estudiante}}</p>
            <p>{{identificacion_estudiante}}</p>
        </a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="text-center">
                <a ui-sref="cuenta" style="text-decoration: none; color: #666">
                    <i class="ion ion-ios-paper-outline" style="font-size: 70px;"></i>
                    <p style="font-size: 20px; font-weight: bold;">Estado de Cuenta</p>
                </a>
            </div>
        </div>
    </div>
</div>