<ion-view view-title='{{TituloMenu.titulo}}'>
    <ion-content>
		<div class="contenedor">			
			<div class="row margin-bottom-20 margin-top-20">
				<div class="col col-50" ng-click="_goTo('app.datos-familia')">
					<div><p class="text-large blue">Datos Familiares</p></div>
					<div><i class="ion-person-stalker i-x80 gray-light-2"></i></div>					
				</div>
				<div class="col col-50" ng-click="_goTo('app.novedades')">
					<div><p class="text-large blue">Novedades</p></div>
					<div><i class="ion-information-circled i-x80 gray-light-2"></i></div>	
				</div>
			</div>
			<div class="row margin-bottom-20 margin-top-20">
				<div class="col col-50" ng-click="_goTo('app.antifraude')">
					<div><p class="text-large blue">Antifraudes</p></div>
					<div><i class="ion-close-circled i-x80 gray-light-2"></i></div>	
				</div>
				<div class="col col-50" ng-click="_goTo('app.cumplimiento')">
					<div><p class="text-large blue">Cumplimientos</p></div>
					<div><i class="ion-checkmark-circled i-x80 gray-light-2"></i></div>	
				</div>
			</div>
			<div class="row margin-bottom-20 margin-top-20">
				<div class="col col-100" ng-click="_goTo('app.liquidacionypagos')">
					<div><p class="text-large blue">Liquidación y Pagos</p></div>
					<div><i class="ion-clipboard i-x80 gray-light-2"></i></div>	
				</div>
			</div>				
		</div>
		<div class="row text-center">
			<ion-spinner class="spinner" ng-show="ocultarLoader"></ion-spinner>
        </div>
    </ion-content>
</ion-view>	