<ion-modal-view ng-load="redireccionar()">

    <ion-header-bar class="bar info">
        <button style="color:#fff;" ng-click="modal.hide()" class="button button-icon ion-chevron-left">Cerrar
        </button>
        <h1 class="title" style="color: #fff">Mensajes</h1>
    </ion-header-bar>

    <ion-content class="padding">
        <div class="card text-center">
            <div class="item item-text-wrap" style="text-align:justify">
                <h2 style="font-weight: bold; color: #3e97cf">Asunto: {{mensajeActual.asunto}}</h2>
            </div>
            <div class="row text-left" style="margin:0px 10px 0px 10px;">
                <div class="col col-12">
                    <label style="font-weight: bold">
                        De:
                    </label>
                    <label style="margin-left: 5px;">Colegio Calleja Real</label>
                </div>
            </div>
            <div class="row text-left" style="margin:0px 10px 0px 10px;">
                <div class="col">
                    <label style="font-weight: bold">
                        Contenido:
                    </label>
                </div>
            </div>
            <div class="row text-left" style="margin:0px 10px 0px 10px;">
                <div class="col col-90">
                    <p style="text-align: justify;">{{mensajeActual.mensaje}}</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>